@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    font-size: 48px;
    font-weight: 900;
    justify-content: center;
    margin: 0;
}

.header {
    margin: 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;

}

.container, .header, .links, .hero, .left, .information {
    display: flex;
}

.information {
    flex-direction: column;
    gap: 30px;
    background-color: white;
    
}

.left {
    flex-direction: column;
    flex: 1;

}

.right {
    flex: 1;

}

.hero {
    justify-content: space-around;
    margin: 0;
    align-items: center;
    background-color: #1f2937;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.right > img {
    width: 80%;
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    border: none;
    padding: 5px;
    color: #e5e7eb;
    width: 120px;
    margin: 5px;
    font-weight: bold;
    
}