@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    font-size: 48px;
    font-weight: 900;
    margin: 0;

}

.header {
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
}

.container, .header, .links, .hero, .left, .right, .information, .info-cards, .card, .quote {
    display: flex;
}

.quote {
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    gap: 20px;
}

.quote-person {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
}


.information {
    flex-direction: column;
    gap: 30px;
    background-color: white;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.left {
    flex-direction: column;
    gap: 5px;
    flex: 1;

}

.right {
    flex: 1;
    justify-content: flex-end;

}

.hero {
    align-items: center;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    flex-basis: 300px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.right > img {
    width: 80%;
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    border: none;
    padding: 5px;
    color: #e5e7eb;
    width: 120px;
    margin: 5px;
    font-weight: bold;
    
}

.info-cards {
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.card {
    flex-direction: column;
    gap: 10px;
    flex: 1;
    text-align: center;
    
}

.subtext {
    font-size: 14px;
    color: #1f2937;
}

.illustration {
    border: 3px solid;
    border-radius: 10px;
    border-color: #3882f6;
    min-width: 150px;
    min-height: 150px;
    flex-shrink: 0;
    flex-grow: 0;
}